<div>
  <p>{{quote.quote}}</p>
  <p>{{quote.author}}</p>
  <span><button (click)='upVote' class="btn btn-outline-primary"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
      Like</button> {{numberOfLikes}}</span>
  <span><button (click)='downVote' class="btn btn-outline-warning"><i class="fa fa-thumbs-down" aria-hidden="true"></i>
      Dislike</button>{{numberOfDislikes}}</span>
  <span><button (click)='deleteQuote' class="btn btn-outline-danger"><i class="fa fa-times" aria-hidden="true"></i>
      Delete</button>{{delete}}</span>
</div>
